{% extends 'base.html' %}
{% block title %}
    Login
{% endblock %}

{% block content %}
<body class="text-center">
    <div class="container">
        <button type="button" style="margin:20px;" class="btn btn-primary" data-toggle="modal" data-target="#Modal-AddAuction">Add item Auction</button>
        <button type="button" style="margin:20px;" class="btn btn-primary" data-toggle="modal" data-target="#Modal-AddStore">Add item to Store</button>
        {% include 'include/add_goods_auction_modal.html' %}
        {% include 'include/add_goods_store_modal.html' %}
    </div>
</body>
{% endblock %}