{% extends 'base.html' %}
{% block title %}
    User registration
{% endblock %}

{% block content %}
<div class="container">

    <form method="POST" class="form-register" style="color:white">
        <h1>Add your item to the market</h1>

        {{ form.hidden_tag() }}

        {{ form.name.label }}
        {{ form.name(class="form-control", placeholder="write a name of the ad") }}

        {{ form.description.label }}
        {{ form.description(class="form-control", placeholder="write a description for the item") }}

        {{ form.price.label }}
        {{ form.price(class="form-control", placeholder="give the ad a price") }}

        {{ form.product_number.label }}
        {{ form.product_number(class="form-control", placeholder="product number") }}

        </br>
        <input id="auctionItem" name="AuctionItem" type="hidden" value="ItemForAuction">
        {{ form.submit(class="btn btn-lg btn-block btn-primary") }}
    </form>

</div>
{% endblock %}