{% extends 'base.html' %}
{% block title %}
    Home Page
{% endblock %}

{% block content %}
<div class="container">
    <br>
    <h2> This is the store front </h2>
    <br>

    <p>
        In this shop you're able to register. Once you register you get the choose if you want a subscription. With a subscription you’re allowed to sell your own goods. This can be done by posting an item.
    </p>

    <img src="../static/pics/undraw_add_cart.png" class="img-fluid" alt="cart">

    <p>
        You can still enjoy the store without a subscription. Here you can browse goods from other, and who knows, maybe you will find your new favourite item.
    </p>
</div>
{% endblock %}