{% extends 'base.html' %}
{% block title %}
    Login
{% endblock %}

{% block content %}
<body class="text-center">
    <div class="container">
         <form method="POST" class="form-register" style="color:white">
         {{ form_user.hidden_tag() }}

         </br>
         <input id="okse1" name="Geir" type="hidden" value="okse20">
         {{ form_user.submit(class="btn btn-lg btn-block btn-primary") }}
         </br>


     </form>
     <form method="POST" class="form-register" style="color:white">
         {{ form_store.hidden_tag() }}

         </br>
         <input id="dog1" name="Tor" type="hidden" value="dog20">
         {{ form_store.submit(class="btn btn-lg btn-block btn-success") }}

     </form>

        <form method="POST" class="form-register" style="color:white">
         {{ form_store.hidden_tag() }}

         </br>
         <input id="cat1" name="Admin" type="hidden" value="cat20">
         {{ form_admin.submit(class="btn btn-lg btn-block btn-warning") }}

     </form>
    </div>
</body>
{% endblock %}