{% extends 'base.html' %}
{% block title %}
    User registration
{% endblock %}

{% block content %}
<div class="container">

    <br>

    <table class="table table-dark table-striped">
      <thead>
        <tr>
          <th scope="col">Title</th>
          <th scope="col">Price</th>
          <th scope="col">Sold by</th>
        </tr>
      </thead>
      <tbody>
      {%for users, goods in db_goods%}
        <tr>
          <td class=".table-striped">{{ goods.name}}</td>
          <td class=".table-striped">{{ goods.price}}</td>
          <td class=".table-striped">{{ users.username}}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>

</div>
{% endblock %}