<style>
  .modal-content {
    background-color: #212121;
  }
</style>
<!-- Modal -->
<div class="modal fade" id="Modal-MoreInfo-{{ item.id }}"
     tabindex="-1"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ModalLabel">
          {{ item.name }}
        </h5>
        <button type="button" class="btn-close"
                data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">x</span>
        </button>
      </div>
      <div class="modal-body">
        {{ item.description }}
        <form method="POST">
          {{ buy_form.hidden_tag() }}
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary"
                data-bs-dismiss="modal">Close
        </button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="Modal-PurchaseConfirm-{{ item.id }}"
     tabindex="-1"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ModalLabel">
          {{ item.name }}
        </h5>
        <button type="button" class="btn-close"
                data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">x</span>
        </button>
      </div>
      <div class="modal-body">
        <form method="POST">
          {{ buy_form.hidden_tag() }}
          <h4 class="text-center">
            Are you sure you want to buy {{ item.name }} for {{ item.price }} NOK ?
          </h4>
          <h6 class="text-center">
            By clicking Purchase, you will purchase this item.
          </h6>
          <input id="store_owner" name="store_owner" type="hidden" value="{{ store.user_owner }}">
          <input id="bought_item" name="bought_item" type="hidden" value="{{ item.product_number }}">
          {{ buy_form.submit(class="btn btn-outline-success btn-block") }}
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary"
                data-bs-dismiss="modal">Close
        </button>
      </div>
    </div>
  </div>
</div>
